{
  "name": "{{ application_name }}",
  "dockerComposeFile": "../compose.yaml",
  "service": "web",
  "workspaceFolder": "/app",
  "postCreateCommand": "uv sync && uv run pre-commit install",
  "customizations": {
    "vscode": {
      "extensions": [
        "ms-python.python",
        "charliermarsh.ruff",
        "ms-azuretools.vscode-docker"
      ]
    }
  }
}
