{% raw %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
  <title>{% block title %}{% endraw %}{{ application_name }}{% raw %}{% endblock %}</title>
</head>
<body>
<main class="container">
  <nav>
    <h1><a href="/">{% block titlebar_service %}{% endraw %}{{ application_name }}{% raw %}{% endblock %}</a></h1>
  </nav>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <p {% if category == 'error' %}class="error"{% endif %}>{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  {% block content %}{% endblock %}
</main>
</body>
</html>
{% endraw %}
